name: PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

# As per Checkov CKV2_GHA_1
permissions: read-all

jobs:
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_project_name: "SwiftAWSLambdaRuntime"
      shell_check_enabled: true
      python_lint_check_enabled: true
      api_breakage_check_container_image: "swift:6.2-jammy"
      docs_check_container_image: "swift:6.0-jammy"
      format_check_container_image: "swift:6.0-jammy"
      yamllint_check_enabled: true

  unit-tests:
    name: Unit tests
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      enable_windows_checks: false
      linux_exclude_swift_versions: "[{\"swift_version\": \"5.9\"}, {\"swift_version\": \"5.10\"}]"
      swift_flags: "--explicit-target-dependency-import-check error"
      swift_nightly_flags: "--explicit-target-dependency-import-check error"
      enable_linux_static_sdk_build: true

  semver-label-check:
    name: Semantic Version label check
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Check for Semantic Version label
        uses: apple/swift-nio/.github/actions/pull_request_semver_label_checker@main
